#configurator ul { list-style: none; margin: 0; padding: 0; }	
#configurator li {
	display: inline-block;
	text-align: center;
	padding: 10px;
	margin: 0;
	list-style: none; 
	position: relative;
	width: 195px;
	vertical-align: top;
}

#configurator li input.checkbox, 
#configurator li input.radio {
	position: absolute;
	left: 25px;
	top: 160px;
	z-index: 10000;
}

/* #configurator li input { display: none;} */

#configurator fieldset {
	clear: both;
	display: block;
	padding: 10px;
/* 	text-align: center; */
	border: 0;
}

#configurator fieldset legend {
	font-size: 30px;
	text-align: left;
	color: #01446f;
	text-transform: uppercase;
	padding: 0;
	border:0;
	text-align: left;
	border: 0;
}

#configurator label:hover { cursor: pointer; }

#configurator fieldset div {
	border: 1px solid #000;
	padding: 10px;
	text-align: center;
}

#configurator fieldset div h2,
#configurator fieldset div h3,
#configurator fieldset div h4 {
	font-size: 26px;
	font-weight: normal;
}

#configurator li.parentblock { display: block;}
#configurator .hide {
	display: none;
}

#configurator li span.check {
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: none;
	height: 24px;
	width: 24px;
}

#configurator li label {
	font-size: 14px;
}

#configurator li label span.imgwrap {
	width: 175px;
	height: 175px;
	display: inline-block;
	position: relative;
}

#configurator li span.check.checkshow {
	display: block;
	background: url('../img/check.png') left top no-repeat;
	background-size: 24px 24px;
}

#configurator .img {
	width: 175px;
	height: auto;
}

#configurator .shadow {
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.25);
}



#configurator #step1button { display: none; }

#configurator #step2 {
	padding: 15px;
}

#configurator .itemtag {
	display: inline-block;
	border: 1px solid #d9c204;
	background: #f5f1c3;
	margin: 0 5px;
	padding: 6px;
	font-size: 12px;
	border-radius: 3px;
}

/*
#computer_tablet_mounting_elements {
	height: 1500px;
}
*/

#configurator .ui-accordion-header {
	color: #fff;
	background: #0d3f69 url('../img/header-blue.png') left top no-repeat;
	padding: 10px 10px 10px 90px;
  font-size: 20px;
   background-size: 100px 100px;
  margin: 15px auto 0 auto;
  text-align: left;
}

#configurator .ui-accordion-content {
	border: 1px solid #8097b6;
	border-top: 0;
	background: #fff;
	padding: 10px;	
} 

#configurator .ui-accordion fieldset {
/*

	border: 1px solid #8097b6!important;
*/
	padding: 0px;
	margin-bottom: 15px;
	background: #f2f2f2;
}


#configurator .ui-accordion fieldset legend {
	text-align: left;
	border-bottom: 1px solid #8097b6;
}

#configurator #contactinfo {
	display: block;
	background: #fff;
	border: 1px solid #8097b6!important;
	margin: 15px;
}

#configurator #summarydiv {
	background: #fff;
	border: 1px solid #8097b6!important;
	margin: 15px;
}

#configurator #step1 {
	display: none;
	background: #fff;
	border: 1px solid #8097b6!important;
	margin: 15px;	
}

#configurator #contactinfo input.textfield {
	display: block;
	padding: 10px;
	font-size: 14px;
	margin-bottom: 15px;
	width: 100%;
	border: 1px solid #8097b6;
    border-radius: 0;
    -webkit-appearance: none;
}

#configurator .wrapper { padding: 20px; }

#configurator .highlighted {
	background: #fff3a0 url('../img/infoicon.png') 13px 10px no-repeat;
	padding: 10px 10px 10px 50px;
/* 	border: 1px solid #ddd07a; */
  font-size: 20px;
  background-size: 28px 28px;
  margin: 0px auto 20px auto;
  text-align: left;
}

#configurator .configheader {
	background: #ed7c28 url('../img/header.png') left top no-repeat;
	padding: 10px 10px 10px 90px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  background-size: 100px 100px;
  margin: 0px auto 20px auto;
  text-align: left;	
}

#configurator .error {
	background: #e5a387;
	border: 1px solid #c23b20;
	padding: 6px;
	font-size: 12px;
}

#configurator .submit {
	background: #01446f;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	padding: 15px;
	font-size: 16px;
    border-radius: 0;
    -webkit-appearance: none;
    float: right;
    margin-right: 15px;
    margin-bottom: 15px;
}

#configurator #step1 fieldset { padding: 0 !important; margin: 0; }

#configurator .cf:before,
#configurator .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

#configurator .cf:after {
    clear: both;
}

#configurator #configheader .configheader { margin-bottom: 0; }

#configurator #resetformwrapper {
    text-align: right;
    padding: 20px 20px 10px 0;
}

#configurator #resetform {
	background: #01446f;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	padding: 15px;
	font-size: 16px;
    border-radius: 0;
    -webkit-appearance: none;
    text-decoration: none;
}

#configurator .selectallwrapper {
	float: right;
}

#configurator .checkall {
	background: #01446f;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	font-size: 16px;
  border-radius: 0;
  -webkit-appearance: none;
  text-decoration: none;
  float: right;
}