body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
}

.bigbutton {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 100px;
    margin: 15px;
}

#buttons {
    width: 865px;
    margin: 15px auto 0 auto;

}

body {
	background: transparent url('../img/grid.png') left top !important;
	background-size: 20px 20px;
	background-color: transparent !important;	
}

#aboutbutton {
    text-indent: -100000em;
    background: url('../img/about.png') left top no-repeat;
    background-size: 400px 400px;
}

#configuratorbutton {
    text-indent: -100000em;
    background: url('../img/configurator.png') left top no-repeat;
    background-size: 400px 400px;
}

#introtext {
/*	background: #fff3a0 url('../img/infoicon.png') 13px 13px no-repeat;
	padding: 10px 10px 10px 50px;*/
    background-size: 28px 28px;
    margin: 40px auto 20px auto;
    width: 835px;
    font-size: 18px;
    text-align: center;
}

em { font-family: HelveticaNeue; }

.prompt {
	background: #fff3a0 url('../img/infoicon.png') 13px 8px no-repeat;
	padding: 10px 10px 10px 50px;
  background-size: 28px 28px;
  margin: 5px auto 20px auto;
  width: 835px;
  font-size: 18px;
}