body {
	margin: 0;
	padding: 0;
	background: #f2f2f2;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    position: relative;
}

.ui-content { padding: 0; }

body#form {
	background: url('../img/grid.png') left top;
	background-size: 17px 17px;
}

#ipad {

}

.page { /* display: none;  */ position: absolute; top :0; left: 1024px;}
.first { left: 0; }

#wrapper {
	position: relative;
	width: 1024px;
/*	height: 768px; */
	background: #fff;
	overflow: hidden;
	margin: 0 auto;
}

#pages {
	width: 1024px;
	height: 768px;
}

#pages img {
	width: 1024px;
	height: auto;
}

#pages .body {
	position: absolute;
	top: 130px;
	left: 35px;
	width: 750px;
	font-size: 14px;
	line-height: 20px;
}

#pages .body p {
	margin-top: 0;
}

#page-16 .body {
    left: 64px;
    font-size: 12px;
    font-style: italic;
}

#page-16 h1 {
    font-size: 22px;
    font-style: normal;
    margin-bottom: 0;
}

#page-16 .linktitle {
    font-size: 16px;
    font-style: normal;
    margin-left: 25px;
}

#page-16 .linktext {
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 45px;
}

#page-16 a {
    color: #000;
    text-decoration: none;
}

#loader {
	display:  none;
	width: 1024px;
	height: 768px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

#loader img {
	margin-top: 320px;
	width: 64px;
	height: auto;	
}

#nav {
	width: 174px;
	position: absolute;
	top: 125px;
	right: 0px;
	height: 648px;
	overflow: auto;
}

#nav ul,
#nav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li a {
	display: block;
	border: 3px solid #000;
	border-right: 0;
	border-top: 0;
	background: #eee;
	padding: 5px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #030000;
}

	#nav li a.first {
		border-top: 3px solid #000;
	}

#nav li.Blue a {
	background: #8ca5cd;
	border-color: #005b9a;
}

	#nav li.Blue a.active_link {
		background: #005b9a;
		border-color: #fff;
		color: #fff;
	}

#nav li.Green a {
	background: #99ae7a;
	border-color: #537725;
}

	#nav li.Green a.active_link {
		background: #537725;
		border-color: #fff;
		color: #fff;
	}

#nav li.Red a {
	background: #e5a387;
	border-color: #c23b20;
}

	#nav li.Red a.active_link {
		background: #c23b20;
		border-color: #fff;
		color: #fff;
	}

#nav li.Grey a {
	background: #cbc6c4;
	border-color: #837d79;
}

	#nav li.Grey a.active_link {
		background: #837d79;
		border-color: #fff;
		color: #fff;
	}

#nav li.Orange a {
	background: #ef9353;
	border-color: #b85f1c;
}

	#nav li.Orange a.active_link {
		background: #ef9353;
		border-color: #fff;
		color: #fff;
	}

#form ul { list-style: none; margin: 0; padding: 0; }	
#form li {
	display: inline-block;
	text-align: center;
	padding: 10px;
	margin: 0;
	list-style: none; 
	position: relative;
}



#form li input { display: none;}

fieldset {
	clear: both;
	display: block;
	padding: 10px;
	border-top: 1px solid #000;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	text-align: center;
}

fieldset legend {
	font-size: 30px;
	text-align: center;
}

label:hover { cursor: pointer; }

fieldset div {
	border: 1px solid #000;
	padding: 10px;
	text-align: center;
}

fieldset div h2,
fieldset div h3,
fieldset div h4 {
	font-size: 26px;
	font-weight: normal;
}

#form li.parent,
#form li.parentblock { display: block; }
/*
.hide {
	display: none;
}
*/

#form li span.check {
	position: absolute;
	top: 180px;
	right: 15px;
	display: none;
	height: 24px;
	width: 24px;
}

#form li span.check.checkshow {
	display: block;
	background: url('../img/check.png') left top no-repeat;
	background-size: 24px 24px;
}

.img {
	width: 200px;
	height: auto;
}